# PRODUCTION - Application Server
PROD_DB_USERNAME=postgres
PROD_DB_PASSWORD=VotreMotDePasseSecurise123!
PROD_DB_NAME=pokedex_prod
REDIS_PASSWORD=VotreRedisPasswordSecurise456!
WEATHER_API_KEY=votre_clé_api_openweathermap

